@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333642;
    color: white;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    color: white;

}



.container.view1 {
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    color: white;

}

.container.view2 {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    color: white;

}

.writecode {
    display: grid;
    border-radius: 5px;
    padding: 10px;
    margin-top: 1%;
    color: white;
}

.writecode.view1 {
    height: 100%;
    color: white;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.writecode.view2 {
    height: 100vh;
    width: 100%;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    color: white;

}

.code {
    height: 100%;
    border-radius: 5px;

    width: 100%;
    color: white;
}

.edit {
    background-color: #f0f0f0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    color: black;
}

.type {
    font-family: 'Roboto', sans-serif;
    color: white;
    height: fit-content;
    width: 100%;
    border-radius: 5px;
    background-color: #1A1B1F;
    padding: 10px;
    border-bottom: 1px solid #333642;
}

.ace_gutter {
    background-color: #1D1E22 !important;
    color: white;

}

.ace_gutter-cell.ace_gutter-active-line.ace_info {
    color: white;

    background-color: #1D1E22 !important;
}

.ace-nord-dark .ace_gutter-active-line {
    background-color: #1D1E22 !important;
    color: white;

}

.output {
    background-color: white;
}

.browser-iframe {
    height: 100%;
    width: 100%;
}

.change_layout {
    position: absolute;
    height: fit-content;
    width: fit-content;
    border-radius: 7px;
    background-color: #444857;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 10px 20px;
    margin: auto;
    right: 10px;
    cursor: pointer;
    z-index: 20;
    user-select: none;
}

.change_layout:hover {
    background-color: #2d303a;
}